<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="../../public/img/weather.png">
    <link rel="stylesheet" href="../public/css/styles.css">
</head>

<body>
    <div class="main-content">
      {{>header}}
      <img src="" alt="Image of me">
    </div>
    
    {{>footer}}
</body>

<html>
